.container{
    padding: 2%;
}

.example-card {
  max-width: 400px;
}

.btn-criar{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}

.card-mt{
    margin-top: 50px;
}

.text-end{
    text-align: end;
}

.itens-end {
    position: absolute;
    top: 5px;
    right: 5px;
}